html {
    height: 100%;
    overflow: hidden;
}
body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
header:before {
    content: "";
    position: absolute;
    top: 30%;
    left: -20%;
    right: 0;
    bottom: -33%;
    background: url(../images/Background.png) no-repeat bottom right;
    background-size: 100% 30rem;
}
header {
    margin-top: 15rem;
}
header .logo-container img {
    height: auto;
    width: 11rem;
}
main .group-container {
    margin-top: 2rem;
}
main .group-container img {
    height: auto;
    width: 11rem;
}