html {
    height: 100%;
}
body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
}
header:before {
    content: "";
    position: absolute;
    top: 0;
    left: -20%;
    right: 0;
    bottom: 0;
    background: url(../images/Background.png) no-repeat bottom right;
    background-size: 100% 60%;
    transform: translateY(9rem);
    z-index: -1;
}
header {
    margin-top: 7rem;
}
header .logo-container img {
    height: auto;
    width: 11rem;
}
main .group-container {
    margin-top: 2rem;
}
main .group-container img {
    height: auto;
    width: 11rem;
}