<<<<<<< HEAD
body{
    font-size: 15px;
}
[class^="col-"], [class*=" col-"] {
    padding: 0;
    margin: 0;
}

=======
html {
    height: 100%;
}
body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}
header:before {
    content: "";
    position: absolute;
    top: 30%;
    left: -20%;
    right: 0;
    bottom: -33%;
    background: url(../images/Background.png) no-repeat bottom right;
    background-size: 100% 30rem;
    transform: rotate(360deg);
}
.logo-container{
    background-image: linear-gradient(to right, rgba(56, 39, 180, 1) , rgba(108, 24, 164, 1));
    height: 4em;
}
.logo{
    margin-top:1rem;
    color:white;
    padding-left:1rem;
}

.icone{
    float: right;
    margin-top: 1.3rem;
    padding-right:1rem;
    cursor: pointer;
}
.padding-top{
    padding-top: 1rem;
    text-align: center;
}
.padding-top a{
    color:white;
    font-family: 'Fira Sans', sans-serif;
}
.masque{
    text-align:center;
    margin-top:6rem;

}
>>>>>>> 3aa87c3fe6c89d55cd5ca3cb46a50470b699d840
