 
  /*  Created on : 29-août-2018, 9:23:06
    Author     : Nathalie
*/

body{
    font-size: 15px;
    overflow: hidden;
  
}
body:before{
    content: "";
    position: absolute;
    top:3.5rem;
    left:-2rem;
    right:-6rem;
    bottom:2rem;
    background: url(../images/Background.png) no-repeat top right;
    transform:rotate(180deg);
    background-size: 100% 30rem;
   height:12rem;
  
    
    
}
.logo-container{
    background-image: linear-gradient(to right, rgba(56, 39, 180, 1) , rgba(108, 24, 164, 1));
    height: 4em;
}
.logo{
    margin-top:1rem;
    color:white;
    padding-left:1rem;
     font-family: 'Fira Sans', sans-serif;
}

.icone{
    float:right ;
    margin-top: 1.3rem;
    padding-right:1rem;
    cursor: pointer;
}
.padding-top{
    padding-bottom: 2rem;
    text-align: center;
    
}
.padding-top a{
    color:white;
    font-family: 'Fira Sans', sans-serif;
}
.masque{
    text-align:center;
    padding:3rem;
    font-family: 'Fira Sans', sans-serif;
  
   
}
.masque a{
  color: #A3A2AC;  
}
.masque p{
    padding-top:1rem;
    font-family: 'Fira Sans', sans-serif;
    text-decoration:underline;
    color: #A3A2AC;
    
}
nav {
    padding-left:3rem;
    
}

.align-right nav {
    line-height:2.3rem;
    color:#3827B4;
    
}
.align-right li{
    list-style: none;
}
nav ul {
    padding: 0;
    list-style: none;
}
.grey{
    color: #A3A2AC;
    
    
}
nav li {
   margin-bottom: 2rem;
}
.align-left nav > ul > li:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: #3827B4;
    border: 1px solid rgba(163, 162, 172, 0.60);
    border-radius: 100%;
    margin-left: -2rem;
    margin-top: 0.3rem;
}.align-left nav > ul > li.is-active:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: white;
    border: 1px solid rgba(163, 162, 172, 0.60);
    border-radius: 100%;
    margin-left: -2rem;
    margin-top: 0.3rem;
}

