<<<<<<< HEAD
 
/*  Created on : 29-août-2018, 9:23:06
  Author     : Nathalie
*/

body{
    font-size: 15px;
    overflow: hidden;

=======
body{
    font-size: 15px;
>>>>>>> ed4584d3b6a031d4d6e1e8d10a3b07fc2120617d
}
body:before{
    content: "";
    position: absolute;
<<<<<<< HEAD
    top:3.7rem;
    left:-3rem;
    right:-6rem;
    bottom:5rem;
    background: url(../images/Background.png) no-repeat top right;
    transform:rotate(180deg);
    background-size: 100% 30rem;
<<<<<<< HEAD
    height:12rem;



=======
    height:15rem;

    
    
>>>>>>> b5ae12aa534e858f18d29c24fe9dececd2a9734f
=======
    top: 0;
    left: -1%;
    right: 0;
    bottom: 0;
    top: 0px;
    background: url(../images/Background-rotated.png) no-repeat bottom right;
    background-size: 100% 60%;
    transform: translateY(-55rem);
}
[class^="col-"], [class*=" col-"], .row{
    padding: 0;
    margin: 0;
>>>>>>> ed4584d3b6a031d4d6e1e8d10a3b07fc2120617d
}
.logo-container{
    background-image: linear-gradient(to right, rgba(56, 39, 180, 1) , rgba(108, 24, 164, 1));
    height: 4em;
}
.logo{
    margin-top:1rem;
    color:white;
    padding-left:1rem;
    font-family: 'Fira Sans', sans-serif;
}

.icone{
    float:right ;
    margin-top: 1.3rem;
    padding-right:1rem;
    cursor: pointer;
}
.padding-top{
    padding-bottom: 2rem;
    text-align: center;

}
.padding-top a{
    color:white;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}
.masque{
    text-align:center;
    padding:5rem;
    font-family: 'Fira Sans', sans-serif;
<<<<<<< HEAD


}
.masque a{
    color: #A3A2AC;  
=======
    position: relative;
    bottom:  2rem;
}
.masque a{
<<<<<<< HEAD
  color: white;
   padding-top:1rem;  
>>>>>>> b5ae12aa534e858f18d29c24fe9dececd2a9734f
=======
    color: white;
    padding-top:1rem;  
>>>>>>> ed4584d3b6a031d4d6e1e8d10a3b07fc2120617d
}
.masque p{
    padding-top:1rem;
    font-family: 'Fira Sans', sans-serif;
<<<<<<< HEAD
    text-decoration:underline;
<<<<<<< HEAD
    color: #A3A2AC;

=======
=======
>>>>>>> ed4584d3b6a031d4d6e1e8d10a3b07fc2120617d
    color:white;
    text-align:center;
>>>>>>> b5ae12aa534e858f18d29c24fe9dececd2a9734f
}
.margin-top {
    margin-top: 10rem;
}
.masque i{
    font-size:1.5rem;
    color:white;
}
nav {
    padding-left:3rem;
<<<<<<< HEAD

}
=======
>>>>>>> ed4584d3b6a031d4d6e1e8d10a3b07fc2120617d

}
.align-right nav {
    line-height:2.3rem;
    color:#3827B4;

}
.align-right li{
    list-style: none;
}
nav ul {
    padding: 0;
    list-style: none;
}
.grey{
    color: #A3A2AC;


}
nav li {
    margin-bottom: 2rem;
}
.align-left nav > ul > li:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: #3827B4;
    border: 1px solid rgba(163, 162, 172, 0.60);
    border-radius: 100%;
    margin-left: -2rem;
    margin-top: 0.3rem;
}.align-left nav > ul > li.is-active:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: white;
    border: 1px solid rgba(163, 162, 172, 0.60);
    border-radius: 100%;
    margin-left: -2rem;
    margin-top: 0.3rem;
}

