
body{
    font-size: 15px;
    overflow-x: hidden;
}
.logo-container{
    background-image: linear-gradient(to right, rgba(56, 39, 180, 1) , rgba(108, 24, 164, 1));
    height:4em;
   
}
.logo{
    margin-top:1rem;
    color:white;
    padding-left:1rem;
}

.icone{
  float:right ;
  margin-top: 1.3rem;
  padding-right:1rem;
}
.padding-top{
    padding-top: 1rem;
   text-align: center;
}
.padding-top a{
    color:white;
}
.masque{
    text-align:center;
    margin-top:6rem;
   
}



