
body{
    font-size: 15px;
    overflow-x: hidden;
    
}
.logo-container{
    background-image: linear-gradient(to right, rgba(56, 39, 180, 1) , rgba(108, 24, 164, 1));
    height:4em;

}
.logo{
    margin-top:1rem;
    color:white;
    padding-left:1rem;
     font-family: 'Fira Sans', sans-serif;
}

.icone{
    float:right ;
    margin-top: 1.3rem;
    padding-right:1rem;
}
.padding-top{
    padding-top: 1rem;
    text-align: center;
}
.padding-top a{
    color:white;
    font-family: 'Fira Sans', sans-serif;
}
.masque{
    text-align:center;
    margin-top:6rem;
    font-family: 'Fira Sans', sans-serif;
}
.masque p{
    padding-top:0.5rem;
}
.password-container{
   margin-left: 7rem;
    padding-top:1rem;
}
 .white-point{
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: white;
    border: 1px solid rgba(163, 162, 172, 0.60);
    border-radius: 100%;

  
 
    
}
 .blue-point{
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    background-color: #3827B4;
    border-radius: 100%;
 
     
}



