.logo-container{
    background-image: linear-gradient(to right, rgba(56, 39, 180, 1) , rgba(108, 24, 164, 1));
    height: 4em;
}
.logo{
    margin-top:1rem;
    color:white;
    padding-left:1rem;
    font-family: 'Fira Sans', sans-serif;
}
.icone{
    float:right ;
    margin-top: 1.3rem;
    padding-right:1rem;
    cursor: pointer;
}
.padding-top{
    padding-bottom: 2rem;
    text-align: center;
}
.padding-top img{
    vertical-align: middle;
    border-style: none;
    height: 2.5rem;
    margin-top: 0.5rem;
}
.padding-top a{
    color:white;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}





main {
    text-align: center;
}
main .logo1 {
    top: left;
}